<div class="order-card">
    <div class="order-details-header">
        <div class="order-detail">
            <p class="order-datail-title">Order Number:</p>
            <p>{{order?.id}}</p>
        </div>
        <hr/>
        <div class="order-detail">
            <p class="order-datail-title">Order Date:</p>
            <p>7 Februar 2022</p>
        </div>
        <hr/>
        <div class="order-detail">
            <p class="order-datail-title">Total amount:</p>
            <p>1233 RSD</p>
        </div>
    </div>
    <div class="order-details-product-list">
        <app-order-detail-product></app-order-detail-product>
        <app-order-detail-product></app-order-detail-product>
        <app-order-detail-product></app-order-detail-product>
    </div>
</div>