<h1>User that applied for deliverer</h1>
<div class="deliverers-list">
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
    <app-deliverer class="deliverer"></app-deliverer>
</div>